
@{
    Layout = null;
}
<!doctype html>
<html lang="zxx">
@await Html.PartialAsync("/Views/LayoutPartials/_HeaderPartial.cshtml")
<body>
    @await Html.PartialAsync("/Views/LayoutPartials/_NavbarPartial.cshtml")
    @RenderBody()
    @await Html.PartialAsync("/Views/LayoutPartials/_FooterPartial.cshtml")
    @await Html.PartialAsync("/Views/LayoutPartials/_ScriptPartial.cshtml")
</body>
</html>



